/* ------------------ COLORS ------------------ */
/* Icon Background */
.un-warning-icon-bg.unverified {
    background-color: #F5A623;
}

.un-warning-icon-bg.reject {
    background-color: #FF3333;
}

/* Text Colors */
.un-title-text.unverified-text,
.un-main-note.unverified-text {
    color: #F5A623;
}

.un-title-text.reject-text,
.un-main-note.reject-text {
    color: #FF3333;
}

/* ------------------ OVERLAY ------------------ */
.un-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* ------------------ MODAL ------------------ */
.un-semi {
    background-color: white;
    padding: 1.7rem;
    border-radius: 0.5rem;

    /* Prevent squeezing */
    width: 380px;
    max-width: 90vw;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    box-sizing: border-box;
}

/* ------------------ CLOSE BUTTON ------------------ */
.un-close-icon-bg {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    font-size: 1.4rem;
    color: #4B4B4B;
    cursor: pointer;
}

/* ------------------ WARNING ICON ------------------ */
.un-warning-icon-bg {
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.un-warning-icon {
    font-size: 1.7rem;
}

/* ------------------ TEXT ------------------ */
.un-title-text {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-top: 1rem;
    text-align: center;
}

.un-main-note {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin-top: 0.7rem;
    text-align: center;
}

.un-paragraph-note {
    color: #707070;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0.7rem;
    width: 100%;
    max-width: 320px;
}

/* ------------------ BUTTON ------------------ */
.un-okay-btn {
    background-color: #43A047;
    color: white;
    font-size: 13px;
    margin-top: 2rem;
    width: 50%;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 500px) {
    .un-semi {
        width: 100vw;
        min-width: 200px;
        padding: 1.3rem;
        margin-right: 1rem;
    }

    .un-warning-icon-bg {
        width: 2.6rem;
        height: 2.6rem;
    }

    .un-warning-icon {
        font-size: 1.4rem;
    }

    .un-title-text {
        font-size: 15px;
    }

    .un-main-note {
        font-size: 14px;
    }

    .un-paragraph-note {
        font-size: 12px;
        max-width: 260px;
    }

    .un-okay-btn {
        width: 65%;
        height: 1.9rem;
    }
}
