.signIn-main {
    padding-top: 5rem;
    z-index: 10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.signin-form {
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 1rem;
  color: #2d3748; /* Tailwind's gray-800 */
}

.signIn-tainer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.medical {
   margin-right: 54%;
}

.ca-color {
    background-color: #43A047;
    border: none;
    height: 3px;
    width: 2rem; /* 8 * 0.25rem */
    margin-left: 0.25rem;
}

.cs-text {
    color: #43A047;
    font-weight: 600;
    font-size: 2rem;
}

.li-input-account-page {
    border-radius: 2px;
    border: 1px solid #e2e8f0;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.li-input-account-page:focus {
    outline: 2px solid #43A047;
}

.li-fp-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem; /* 14px */
}

.button-bottom {
    margin-top: -8px;
    color: #6b6b6b;
    
}

.li-fp-button:hover, .lh-button:hover, .ca-button:hover {
    color: #43A047;
    cursor: pointer;
}

.nt-text {
    color: #070707;
    font-weight: 500;
    cursor: pointer;
}

.required {
    color: rgb(96, 96, 96);
    margin-top: 0.9rem;
    font-size: 0.8rem;
}

.LI-button {
    color: white;
    background-color: #43A047;
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.LI-button:disabled {
  background: #aae2be;
  color: #fff;
  cursor: not-allowed;
}

.LI-button-next {
    background-color: white;
    border-radius: 0.3rem;
    color: #43A047;
    border: 2px solid #43A047;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.li-pass-tainer {
    border-radius: 2px;
    border: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
}

.li-pass-tainer.focused {
    outline: 2px solid #43A047;
}

.li-pass-tainer input {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.login-showHidePass {
    padding: 0 8px;
    cursor: pointer;
}

.login-offPass, .login-onPass {
    font-size: 1.2rem;
    color: #43A047;
}


.upload-label {
  font-weight: 500;
  font-size: 1rem;
  color: #374151;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-prefix-container {
  position: relative;
  width: 70%;
}

.contact-prefix {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #374151;
  font-size: 1rem;
  pointer-events: none;
  z-index: 2;
}

.contact-input {
  padding-left: 2.5rem !important;
  
}
/* LOGIN-MAIN */
@media (min-width: 640px) {
  .signIn-main {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (min-width: 768px) {
  .signIn-main {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}


@media (min-width: 1024px) {
  .signIn-main {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}

.loaderCA {
    display: flex;
    position: fixed;
    top: 40%;
    right: 48%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#43A047 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#43A047);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 0.6s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }
  @media (min-width: 640px) {
    .signin-form {
        max-width: 30rem;
    }
  }
