.cover-container {
    position: relative;
    width: 100%;
}

.cover-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

