.footer-container {
    margin-top: 1.5rem;
    width: 100%;
    border-top: 1px solid #E9E9E9;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-container .copyright {
    font-size: 14px;
    color: #565656;
}