.fp-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;   /* px-4 = 1rem = 16px */
    padding-right: 1rem;
}

.fp-form {
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 3.5rem auto 0 auto; /* mt-14 = 3.5rem */
  gap: 1rem; /* gap-4 = 1rem */
  color: #1f2937; /* text-gray-800 */
}

.fp-title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;         /* gap-2 = 0.5rem */
  margin-top: 1rem;  /* mt-10 = 2.5rem */
  margin-bottom: 0.75rem; /* mb-3 = 0.75rem */
}

.em-text {
    color: #43A047;
    font-weight: 600;
    font-size: 2rem;
}

.fp-button {
    color: white;
    background-color: #43A047;
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.fp-button:disabled {
    background: #aae2be;
    color: #fff;
    cursor: not-allowed;
}

.fp-input-identifier-page {
    width: 100%;         
    padding-left: 0.75rem;  
    padding-right: 0.75rem;
    padding-top: 0.5rem;     
    padding-bottom: 0.5rem;
    border: 1px solid #C5C5C5;
    margin-bottom: 0.3rem;
}

.fp-input-identifier-page:focus {
    outline: 2px solid #43A047;
}

@media (min-width: 640px) { /* sm */
  .fp-main {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media (min-width: 768px) { /* md */
  .fp-main {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media (min-width: 1024px) { /* lg */
  .fp-main {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}

@media (min-width: 640px) { /* sm */
  .fp-form {
    max-width: 30rem; /* 96 = 24rem = 384px */
  }
}