.main-product-container {
    position: relative;
    color: #494949;
}

.main-product-container .wishlist-icon1, 
.main-product-container .wishlist-icon2 {
    font-size: 1.9rem;
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
    z-index: 5;
    color: #289828;
    cursor: pointer;
}


.hidden {
    display: none !important;
}

.bestseller-prod {
    position: absolute;
    z-index: 5;
    top: 1.4rem;
    right: 1.5rem;
    color: #289828;
    font-size: 1.2rem;
}

.main-product-container .product-container {
    background-color: white;
    height: 60vw;/* height: 45vh;  */
    border: 2px solid #E2E2E2;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.main-product-container .inactive {
    opacity: 0.4;  /* Low opacity when not active */
    pointer-events: none;
}

.main-product-container .inactive .ofs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: black;
}


.main-product-container .product-container .product-image {
    padding-top: 3.5rem;
}

.pd-name {
    padding-bottom: 0.25rem; 
    padding-top: 0.75rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.ph-price {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    display: flex;
    align-items: center;
}

/* MEDIA QUERIES */
/* || SMALL */
@media screen and (min-width: 576px) {
    .main-product-container .product-container {
        height: 57vw;
        max-height: 60vw;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    .main-product-container .product-container {
        height: 36vw;
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    .main-product-container .product-container {
        min-height: 26vw;
    }
}

/* || LARGE.02 */
@media screen and (min-width: 1024px) {
    .main-product-container .product-container {
        height: 27vw;
    }
}

/* || XL */
@media screen and (min-width: 1200px) {
    .main-product-container .product-container {
        max-height: 24vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
