.upthis-p {
    z-index: 10;
}

.rp-text {
    color: #470507;
    font-weight: 600;
    font-size: 2rem;
}

.RP-button {
    color: white;
    background-color: #470507;
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}


.rp-textsm {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

.rp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.input-password-page {
    border: 1px solid #C5C5C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-password-page.focused {
    outline: 2px solid #470507;
}

.input-password-page input {
    width: 100%;
    outline: 0;
    border: 0;
}

.showHidePassC {
    font-size: 1.3rem;
    cursor: pointer;
}

.loaderRP {
    display: flex;
    position: fixed;
    top: 40%;
    right: 48%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#470507 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#470507);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 0.6s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
}

.required-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.ntrp-text {
    font-size: 0.9rem;
}

.required-rp {
    color: rgb(96, 96, 96);
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

@media (min-width: 640px) {
    .formsizerp {
        max-width: 30rem;
    }
}