.rp-last-main {
    z-index: 10;
    padding-left: 1rem;
    padding-right: 1rem;
}

.rp-last-formsize {
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 3.5rem auto 0 auto; /* mt-14 = 3.5rem top margin */
  gap: 1rem; /* gap-4 = 1rem */
  color: #1f2937; /* text-gray-800 */
}

.rp-last-text {
    color: #43A047;
    font-weight: 600;
    font-size: 2rem;
}


.rp-last-textsm {
    font-size: 1rem;
    color: rgb(66, 66, 66);
}

.rp-last-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

.rp-pass-tainer {
    border-radius: 2px;
    border: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.rp-pass-tainer.focused {
    outline: 2px solid #43A047;
}

.rp-pass-tainer input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rp-showHidePass {
    cursor: pointer;
}

.rp-offPass, .rp-onPass {
    font-size: 1.2rem;
    color: #43A047;
}

.rp-password-validator {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: -5px;
    padding: 0;
}

.rp-line-password {
    border-radius: 3rem;
    background-color: #EAEAEA;
    width: 10rem;
    height: 0.3rem;
}

.rp-line-password {
    border-radius: 3rem;
    background-color: #EAEAEA;
    width: 10rem;
    height: 3.5px;
    transition: background-color 0.3s ease;
}

.rp-line-password.valid {
  background-color: #43A047; /* green when valid */
}

.rp-password-rules {
    margin-top: -10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.rp-password-infocon {
    color: #333333;
}

.rp-password-infocon-valid {
    color: #43A047;
}

.rp-password-rules-txt {
    font-size: 0.8rem;
    color: #333333;
}

.rp-password-rules-txt.valid{
    color: #43A047;
    font-weight: 500;
}

.RP-button {
    cursor: pointer;
    color: white;
    background-color: #43A047;
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
}

.RP-button:disabled {
    background: #aae2be;
    color: #fff;
    cursor: not-allowed;
}

@media (min-width: 640px) {
    .rp-last-formsize {
        max-width: 30rem;
    }
}

@media (min-width: 640px) {
  .rp-last-main {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
  .rp-last-main {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .rp-last-main {
    padding-left: 9vw;
    padding-right: 9vw;
  }
}