.login-bg {
  min-height: 100vh;
  background: #f6f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 40px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}
.login-title {
  color: #43A047;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.brand-name{
    font-size: .8rem;
    font-weight: 600;
    color: #7ED957;
}
.shop-name {
    font-weight: bold;
    color: #43A047;
   
}
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.login-input {
  padding: 10px 12px;
  border: 1.5px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  background: #fff;
  transition: border 0.2s;
  width: 100%;
}

.login-input:focus {
  border: 1.5px solid #22b573;
  background: #fff;
}

.pass-input {
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 1rem;
  background: #fff;
  transition: border 0.2s;
  width: 100%;
}
.pass-input:focus {
  border: 1.5px solid #22b573;
  background: #fff;
  outline: none;
}


.sign-in-btn{
    width: 100%;
    background: #43A047;
    color: #fff;
    font-size: 1.08rem;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 8px;
    cursor: pointer;
    transition: background 0.2s;

}
.sign-in-btn:hover {
    background: #2e6d31;
}

.login-logo{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    flex-direction: row;
    gap: 6px;
}
.logo-icon img{
    width: 24px;
    height: 28px;
    margin-bottom: 0;
    object-fit: contain;
}

.password-input-wrapper {
  position: relative;
}

.login-showHidePass {
    position: absolute;
    top: 13px;
    right: 5px;
    padding: 0 8px;
    cursor: pointer;
}


.login-offPass, .login-onPass {
    font-size: 1.2rem;
    color: #43A047;
}

